.navbar .nav-item .position-relative {
    position: relative;
  }
  
  .navbar .nav-item .badge {
    font-size: 0.75rem; 
    min-width: 1.5rem;  
    padding: 0.2rem 0.5rem; 
  }
  .navbar .nav-item .badge {
    color: white;
    background-color: red; 
  }
    