.navbar .nav-item .position-relative {
    position: relative;
  }
  
  .navbar .nav-item .badge {
    font-size: 0.75rem; /* Ajuste do tamanho da fonte */
    min-width: 1.5rem;  /* Para garantir que o badge não fique muito pequeno */
    padding: 0.2rem 0.5rem; /* Ajusta o padding para ficar proporcional */
  }
  .navbar .nav-item .badge {
    color: white;
    background-color: red; /* Garantir que o badge tenha contraste suficiente */
  }
    