<footer class="footer bg-dark text-light py-4">
    <div class="container">
      <div class="social-links">
        <a href="https://github.com/fagnerlisboa" target="_blank" class="text-light">
          <i class="fab fa-github fa-ls"></i>
        </a>
        <a href="https://www.linkedin.com/in/fagnerlisboa" target="_blank" class="text-light">
          <i class="fab fa-linkedin fa-ls"></i>
        </a>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p>&copy; 2024 Fagner Lisboa. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  