<div class="container mt-5">
    <h1 class="text-center mb-4">Produtos</h1>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <div class="col">
        <div class="col" *ngFor="let product of products">
          <div class="card h-100">
            <img [src]="product.image" class="card-img-top" alt="{{ product.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.description | slice:0:100 }}...</p>
              <h6 class="text-success">${{ product.price }}</h6>
              <a [routerLink]="['/product-details', product.id]" class="btn btn-outline-primary">Ver Produto</a>
            </div>
        </div>
      </div>
      </div>
      
      <div class="col">
        <div class="card h-100">
          <img src="assets/fone-de-ouvido-2.jpg" class="card-img-top" alt="Produto 2">
          <div class="card-body">
            <h5 class="card-title">Fone de ouvido</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$89.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/fone-de-ouvido-3.jpg" class="card-img-top" alt="Produto 3">
          <div class="card-body">
            <h5 class="card-title">Fone de ouvido</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$49.99</h6>
            <a routerLink="/product-details" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/hd.jpg" class="card-img-top" alt="Produto 4">
          <div class="card-body">
            <h5 class="card-title">HD</h5>
            <p class="card-text">HD 500 GB</p>
            <h6 class="text-success">R$99.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/laptop-1.jpg" class="card-img-top" alt="Produto 1">
          <div class="card-body">
            <h5 class="card-title">Laptop</h5>
            <p class="card-text">Descrição breve do produto 1.</p>
            <h6 class="text-success">R$2.429.00</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/laptop-2.jpg" class="card-img-top" alt="Produto 2">
          <div class="card-body">
            <h5 class="card-title">Laptop</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$2.839.00</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/monitor-1.jpg" class="card-img-top" alt="Produto 3">
          <div class="card-body">
            <h5 class="card-title">Monitor</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$449.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/mouse-1.png" class="card-img-top" alt="Produto 4">
          <div class="card-body">
            <h5 class="card-title">Mouse</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$59.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/mouse-2.jpg" class="card-img-top" alt="Produto 1">
          <div class="card-body">
            <h5 class="card-title">Mouse</h5>
            <p class="card-text">Descrição breve do produto 1.</p>
            <h6 class="text-success">R$39.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/mouse-3.jpg" class="card-img-top" alt="Produto 2">
          <div class="card-body">
            <h5 class="card-title">Mouse</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$49.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/placa-video.jpg" class="card-img-top" alt="Produto 3">
          <div class="card-body">
            <h5 class="card-title">Placa de vídeo</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$549.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/processador.jpg" class="card-img-top" alt="Produto 4">
          <div class="card-body">
            <h5 class="card-title">Processador</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$499.00</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/teclado-1.jpg" class="card-img-top" alt="Produto 1">
          <div class="card-body">
            <h5 class="card-title">Teclado</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$79.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/teclado-2.jpg" class="card-img-top" alt="Produto 2">
          <div class="card-body">
            <h5 class="card-title">Teclado</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$69.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/pc-gamer-1.jpg" class="card-img-top" alt="Produto 3">
          <div class="card-body">
            <h5 class="card-title">PC GAMER</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$4.249.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/pc-gamer-2.jpg" class="card-img-top" alt="Produto 4">
          <div class="card-body">
            <h5 class="card-title">PC GAMER</h5>
            <p class="card-text">Descrição breve do produto.</p>
            <h6 class="text-success">R$5.159.99</h6>
            <a routerLink="" class="btn btn-outline-primary">Ver Produto</a>
          </div>
        </div>
      </div>
    </div>
  </div>