// .container {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background-image: url('/assets/background.jpg');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   color: white;
//   text-align: center;
// }

.enter-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.enter-button:hover {
  background-color: #0056b3;
}

// .description {
//   margin-top: 10px;
//   font-size: 18px;
//   font-weight: 300;
//   max-width: 600px;
// }